.promoBanner {
    width: 100%;
    height: auto;
}

.landing h1 {
    text-align: left;
    margin: 20px;
}

.landing li, .landing ul {
    list-style: none;
    padding: 0;
}

.categories {
    display: flex;
    margin: 0 20px;
}

.category {
    margin-right: 20px;
    display: block;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
}