.outer-navbar {
    width: 100%;
    border-bottom: 1px solid black;
}

.inner-navbar {
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
}

.inner-navbar li, .inner-navbar ul, .inner-navbar a {
    list-style: none;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgb(140, 140, 140);
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav-link {
    padding: 0;
    margin: 10px;
    cursor: pointer;
}

.logo-container {
    flex-grow: 1;
    text-align: center;
    margin: 0 100px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 15px;
}

.icon-container {
    display: flex;
}