.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 800px;
    height: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.product-data {
    display: flex;
    align-items: flex-start;
}

.product-images {
    flex: 1;
}

.product-details-div {
    margin-left: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.popup .quantity-controls {
    margin: 0 !important;
    width: min-content;
}

.popup .add-to-cart {
    margin-top: 10px;
    width: min-content;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.product-info {
    width: 60%;
}

.popup .image-div {
    width: 400px;
    height: 400px;
}

.image-div>img {
    width: 100%;
}

.product-images {
    position: relative;
}

.second-image {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.product-images:hover .second-image {
    visibility: visible;
    opacity: 1;
}

.product-images:hover .first-image {
    visibility: visible;
    opacity: 0;
}