.products-ul {
    display: flex;
    flex-direction: row;
}

.product-li {
    list-style: none;
    display: block;
    min-width: 200px;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.product-info {
    cursor: pointer;
}

.quantity-controls {
    margin: 0 auto;
    margin-bottom: 10px !important;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

/* 
.quantity-controls>button {
    margin: 0 10px;
    padding: 8px 12px;
    background-color: rgb(186, 186, 186);
    color: white;
    border: none;
    cursor: pointer;
    height: min-content;
    border-radius: 10px;
} */

/* increase or decrease quantity */
.quantity-controls>button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.quantity-controls>p {
    margin: 0 10px;
}

.product-details {
    padding: 10px;
}

.product-details>p {
    margin: 10px auto;
    text-align: left;
    align-self: flex-start;
    max-width: 200px;
    overflow-wrap: break-word;
}

.title {
    font-weight: 700;
}

.price {
    color: grey;
    font-weight: 500;
}

.product-images-container {
    position: relative;
}

.image-div {
    width: 200px;
    height: 200px;
}

.product-img {
    width: 100%;
}

.second-image {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.product-images-container:hover .second-image {
    visibility: visible;
    opacity: 1;
}

.product-images-container:hover .first-image {
    visibility: visible;
    opacity: 0;
}

.add-to-cart {
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    height: min-content;
    border-radius: 5px;
    min-width: 100px;
}